.our-services{
    padding-top: 80px;
    padding-bottom: 80px;
    background: #fff;
    .section-header {
        text-align: center;
        .divider {
            height: 5px;
            width: 50px;
            background: #ffb606;
            border-radius: 20px;
            margin: 12px auto;
        }
    }
    .service-card{
        .icon{
            margin-bottom: 20px;
            i{
                font-size: 48px;
                color: #ffb606;
            }
        }
        h3{
            font-size: 1.2rem;
            color: #333;
        }
        p{
            font-size: 1rem;
            color: #5f5f5f;
        }
    }
}